// Primary Colors
$blue: #04b4e0;
$dark: #222;
$dark_light: #444;
$light_grey: #b5b6b7;
$dark_gray: #aaa;
$light_gray: #d5d5d5;
$white: #fff;

// Media query breakpoints
$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1200px,
    "desktop-wide": 1440px
);